<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BidfileMapper">
  <resultMap id="BaseResultMap" type="com.domain.Bidfile">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bidid" jdbcType="INTEGER" property="bidid" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, bidid, filepath
  </sql>

</mapper>